@media (min-width:1000px){

    .container{
        width: 100%;
    }

    .titulo{
        font-size: 32px;
        margin-bottom: 10px;
    }

    .complemento{
        text-align: center;
        width: 50%;
        margin: 0 auto;
    }
    
    .tarjetas{
        display: flex;
        justify-content: center;
    }

    .tarjeta1,
    .tarjeta2,
    .tarjeta3,
    .tarjeta4{

        width: 320px;
        max-height: 200px;

    }

    .tarjeta1{
        margin-right: 20px;
        transform: translateY(6rem);
    }

    .tarjeta4{
        margin-top: 60px;
        margin-left: 20px;
        transform: translateY(6rem);
    }

    .imagen{
        margin-left: 70%;
    }
}